.introduction {
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  background-color: #f7f7f7;
  border-radius: 8px;
  max-width: 900px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.introduction h2 {
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 10px;
}

.introduction p {
  font-size: 1.2em;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .introduction {
    max-width: 450px;
    padding: 15px;
  }

  .introduction h2 {
    font-size: 1.5em;
  }

  .introduction p {
    font-size: 1em;
  }
}
